$blue: #304ffe;
$blue-light: #7a7cff;
$blue-dark: #0026ca;
$yellow: #ffd600;
$yellow-light: #ffff52;
$yellow-dark:#c7a500;
$teal: #4db6ac;
$pink: #a00037;
$white: #fff;
$white-light: #EEEEEE;
$dark: #000000;
$dark-light: #616161;

$light-shadow: rgba(34, 36, 38, 0.15);
