* {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  overflow-x: hidden;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

// html,
#root {
// .fill {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #4183c4;
  text-decoration: none;
}

p {
  margin: 0;
}

.main {
  flex: 1 0 auto;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
