@import '../styles/colors';

.header {
  z-index: 4;

  position: sticky;
  top: 0;

  width: 100%;
  background-color: $blue-dark;
  flex: 0 0 auto;
}

.footer {
  z-index: 1;

  position: sticky;
  bottom: 0;

  width: 100%;
  background-color: $blue-dark;
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
  height: 100%;
  background-color: $blue;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
