@import '../../../styles/colors';

.footerWrp {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 1em 2em 1em;
}

.footerCopyright {
  font-size: 18px;
  color: $yellow-light;
}

.menuBtn {
  color: $yellow-light;
  font-size: 18px;
  transition: .3s;
  &:hover {
    color: $yellow-dark !important;
    .menuImageBtn {
      filter: invert(59%) sepia(75%) saturate(2758%) hue-rotate(22deg) brightness(104%) contrast(101%);
    }
  }
}

.menuImageBtn {
  filter: invert(84%) sepia(51%) saturate(527%) hue-rotate(3deg) brightness(110%) contrast(104%);
}

.menuIcon {
  margin-right: 5px;
}
