@import '../../../../styles/colors';

.navGroupItem .navGroupBtn {
  font-weight: 600;
  background-color: $blue-dark;
  color: $yellow;
}

.navGroupItem.active .navGroupBtn {
  background-color: $yellow;
  color: $blue-dark;
}

.navGroupBtn:hover {
  transform: scale(.95);
}
